
body {
	background: url('./images/papertexture3.jpg');

}


.root {
	display: flex;
	height: 100vh;
}

.content {
	flex: 1;
	max-width: 1000px;
	margin-left: 50px;
}

.sidebar {
	width: 150px;
	padding-top: 65px;
	border-right-style: double;
}


.nameHeader {
	font-family: Didot;
	color: black;
	letter-spacing: 4px;
	font-weight: lighter;
}

.pageHeader{
	font-family: Didot;
	font-size: 24px;
	color: black;
	letter-spacing: 4px;
	font-weight: lighter;
}

.subHeader{
	font-family: Didot;
	font-size: 20px;
	color: black;
	letter-spacing: 1.5px;
	font-style: underline;

}

.description{
	font-family: Didot;
	font-size: 16px;
	color: black;
	font-weight: lighter;
	white-space: pre-wrap;
	width: 100%;
}


.albumList{
	font-family: Didot;
	font-size: 20px;
	color: black;
	white-space: pre;
}

.albums {
	width: 200px;
	height: 200px;
}

.aboutMe {
	font-family: Didot;
	color: black;
	font-weight: lighter;
	letter-spacing: 1px;
	white-space: pre-line;
}

.links {
	font-family: Didot;
	color: black;
	font-weight: lighter;
	letter-spacing: 1.5px;
	list-style: none;
	padding: 0;
}

.links li {
	margin-bottom: 10px;
}

.links a:not(:hover), .links a:visited {
	text-decoration: none;
	color: black;
}
